torch==2.8.0
torchaudio==2.8.0
tensorboard==2.18.0
flashlight==0.1.1
flashlight-text==0.0.7
sentencepiece==0.2.0
soundfile==0.12.1
editdistance==0.8.1
multipart==1.2.1
#digitalhub-runtime-container==0.9.0